<!--<ng-container *ngFor="let con of contract | keyvalue">
    {{ con?.key }} : {{ con?.value }}
</ng-container>-->

<ng-container>
  <div class="container">
    <table class="table mt-4 col-8 mx-auto ">
      <thead>
        <tr>
          <th scope="col" class="text-center h2">Libellé</th>
          <th scope="col" class="text-center h2">Informations</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td><h5 class="mb-1">Numero de contrat</h5></td>
          <td>
            {{ contract.contractNumber }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Debut de contrat</h5></td>
          <td>
            {{ contract.paymentStartDate | date: 'dd/MM/yyyy' }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Fin de contrat</h5></td>
          <td>
            {{ contract.paymentEndDate | date: 'dd/MM/yyyy' }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Taux d'emprunt</h5></td>
          <td>
            {{ contract.loanRate }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Cout total du credit</h5></td>
          <td>
            {{ contract.loanTotalCost | currency: 'EUR':'symbol' }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Somme empruntee</h5></td>
          <td>
            {{ contract.loanAmount | currency: 'EUR':'symbol' }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Duree du credit</h5></td>
          <td>
            {{ contract.loanDuration }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Montant de la mensualite</h5></td>
          <td>
            {{ contract.monthlyPayment | currency: 'EUR':'symbol' }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Montant d'achat</h5></td>
          <td>
            {{ contract.purchaseAmount | currency: 'EUR':'symbol' }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Categorie du vehicule</h5></td>
          <td>
            {{ contract.vehicleCategory }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Nom du client</h5></td>
          <td>
            {{ contract.client.firstName }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Prenom du client</h5></td>
          <td>
            {{ contract.client.lastName }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Civilite</h5></td>
          <td>
            {{ contract.client.gender }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Adresse du client</h5></td>
          <td>
            {{ contract.client.adress }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Date de naissance du client</h5></td>
          <td>
            {{ contract.client.birthDate | date: 'dd/MM/yyyy' }}
          </td>
        </tr>
        <tr>
          <td><h5 class="mb-1">Adresse email du client</h5></td>
          <td>
            {{ contract.client.email }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<button class="btn  btn-outline-success" (click)="submitContract(contract)">
  Valider
</button>
