<ng-container>
  <div class="container">
    <h1 class="my-4 font-weight-normal h3 text-center">
      Simulation de crédit auto
    </h1>
  </div>
  <div class="container container-simulation border shadow-sm">
    <div class="d-flex ">
      <div class="col-6 my-5">
        <form [formGroup]="simulationForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="purchaseAmountId">Montant de l'achat</label>
            <input
              type="number"
              class="form-control"
              id="purchaseAmountId"
              name="purchaseAmount"
              required
              formControlName="purchaseAmount"
            />
            <!-- <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        > -->
          </div>
          <div class="form-group">
            <label for="loanAmountId">Montant du crédit</label>
            <input
              type="number"
              class="form-control"
              id="loanAmountId"
              name="loanAmount"
              required
              formControlName="loanAmount"
            />
          </div>
          <label for="category">Catégorie</label>
          <select
            class="browser-default custom-select mb-4"
            id="category"
            name="category"
            formControlName="vehicleCategory"
          >
            <option value="A">Catégorie A</option>
            <option value="B">Catégorie B</option>
          </select>

          <div class="form-group">
            <label for="duration">Durée du prêt</label>
            <input
              type="number"
              class="form-control"
              id="duration"
              name="loanDuration"
              required
              formControlName="loanDuration"
              min="12"
              max="48"
            />
          </div>

          <!-- <div class="form-group">
          <label for="cost">Coût du prêt</label>
          <input
            type="number"
            class="form-control"
            id="cost"
            name="loanCost"
            formControlName="loanCost"
          />
        </div> -->

          <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-outline-primary mr-4 my-4">
              Simuler
            </button>
            <ng-container *ngIf="isSimulated">
              <button
                class="btn btn-outline-success mr-4 my-4"
                [routerLink]="['/searchclient']"
              >
                Créer contrat
              </button>
            </ng-container>
            <button
              type="reset"
              (click)="cancel()"
              class="btn btn-outline-danger mr-4"
            >
              Annuler
            </button>
          </div>
        </form>
      </div>
      <div
        class="d-flex flex-column align-items-center justify-content-around col-6 my-5"
      >
        <ng-container *ngIf="isSimulated">
          <!-- <div class="d-flex flex-column align-items-start"> -->
          <div>
            <p class="h5">Taux d'intérêt</p>
            <p class="h6 text-center mt-3 font-weight-normal">
              {{ returnedSimulation.loanRate }}
            </p>
          </div>
          <div>
            <p class="h5">Cout total de l'emprunt</p>
            <p class="h6 text-center  mt-3 font-weight-normal">
              {{ returnedSimulation.loanTotalCost }}
            </p>
          </div>
          <div>
            <p class="h5">Mensualité</p>
            <p class="h6 text-center  mt-3 font-weight-normal">
              {{ returnedSimulation.monthlyPayment }}
            </p>
          </div>
          <!-- </div> -->
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
