<ng-container>
  <div class="container container-simulation ">
    <h2 class="my-4 text-center font-weight-normal">
      Simulation de crédit auto
    </h2>
    <div class="d-flex ">
      <div class="col-6">
        <form [formGroup]="filterForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="purchaseAmountId">Montant de l'achat</label>
            <input
              type="number"
              class="form-control"
              id="purchaseAmountId"
              name="purchaseAmount"
              required
              formControlName="purchaseAmount"
            />
            <!-- <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        > -->
          </div>
          <div class="form-group">
            <label for="loanAmountId">Montant du crédit</label>
            <input
              type="number"
              class="form-control"
              id="loanAmountId"
              name="loanAmount"
              required
              formControlName="loanAmount"
            />
          </div>
          <label for="category">Catégorie</label>
          <select
            class="browser-default custom-select mb-4"
            id="category"
            name="category"
            formControlName="vehicleCategory"
          >
            <option selected>Catégories</option>
            <option value="A">Catégorie A</option>
            <option value="B">Catégorie B</option>
          </select>

          <div class="form-group">
            <label for="duration">Durée du prêt</label>
            <input
              type="number"
              class="form-control"
              id="duration"
              name="loanDuration"
              required
              formControlName="loanDuration"
              min="12"
              max="48"
            />
          </div>

          <!-- <div class="form-group">
          <label for="cost">Coût du prêt</label>
          <input
            type="number"
            class="form-control"
            id="cost"
            name="loanCost"
            formControlName="loanCost"
          />
        </div> -->

          <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-outline-primary mr-4 my-4">
              Simuler
            </button>
            <ng-container *ngIf="isSimulated">
              <div class="btn btn-outline-success mr-4 my-4">
                Créer contrat
              </div>
            </ng-container>
            <button
              type="reset"
              (click)="cancel()"
              class="btn btn-outline-danger mr-4"
            >
              Annuler
            </button>
          </div>
        </form>
      </div>
      <div class="col-6 d-flex flex-column">
        <div>
          <p>Taux calculé</p>
          <p>Cout total de l'emprunt</p>
          <p>Echeancier</p>
        </div>
        <ng-container *ngIf="isSimulated">
          <div class=" mx-5">
            <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Montant</th>
                  <th scope="col">Montant cumulé</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let schedule of schedules">
                  <th scope="row">
                    {{ schedule.newDate }}
                  </th>
                  <td>
                    {{ schedule.monthlyAmount }}
                  </td>
                  <td>
                    {{ schedule.cumulatedAmount }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
