<ng-container>
  <div class="container container-simulation ">
    <h2 class="my-4 text-center font-weight-normal">
      Login
    </h2>
    <div class="d-flex justify-content-center ">
      <div class="col-6">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input
              type="email"
              class="form-control"
              id="username"
              name="username"
              required
              formControlName="username"
            />
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
              formControlName="password"
            />
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn  btn-outline-success mr-4 my-4">
              Se connecter
            </button>
            <button
              type="reset"
              (click)="cancel()"
              class="btn btn-outline-danger mr-4"
            >
              Annuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
