<ng-container>
  <div class=" mx-5">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Montant</th>
          <th scope="col">Montant cumulé</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules">
          <th scope="row">
            {{ schedule.daate }}
          </th>
          <td>
            {{ schedule.monthlyAmount }}
          </td>
          <td>
            {{ schedule.cumulatedAmount }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
