<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand" href="#">
    <img class="logo ml-3" src="assets/BNP-logo.png" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Accueil <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/simulation']">Simulation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/searchclient']"
          >Recherche de client</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/nouveauClient']">Nouveau client</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Gestion des loueurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gestion des taux</a>
      </li> -->
    </ul>
  </div>
</nav>
